<div class="rounded-[20px] max-w-[500px] bg-white flex flex-col">

  <ng-container *ngIf="!email; else elseTemplate">
    <div class="flex flex-col justify-center h-full gap-10 p-5 py-10 sm:p-14">
      <div class="grid grid-cols-12">
        <div class="flex flex-col justify-center col-span-8 gap-4">
          <p class="text-xl font-semibold sm:text-4xl text-secondary font-primary">¿Olvidaste la contraseña?</p>
          <p class="sm:text-xl">Recuperá tu clave en simples pasos</p>
        </div>
        <img class="col-span-4" src="../../../../../assets/img/Mobile Phone_Isometric 1.png" alt="">
      </div>
      <div class="flex flex-col gap-7">
        <p class="font-medium sm:text-xl">Ingresa a tu correo electrónico para recuperarla.</p>
        <form class="flex flex-col gap-7" [formGroup]="emailForm" (ngSubmit)="submitEmail()">
          <input formControlName="email"
            class="w-full py-3 font-medium text-center border-2 rounded-full sm:text-xl border-primary focus:border-primary focus:ring-primary focus:ring-0"
            type="email" placeholder="email@ejemplo.com">
          <button [ngClass]="emailForm.invalid? 'bg-[#BEBEBE]' : 'bg-primary'"
            class="w-full py-3 font-bold text-white rounded-full sm:text-xl" [disabled]="emailForm.invalid">Enviar
            email</button>
        </form>
      </div>
    </div>
  </ng-container>

  <ng-template #elseTemplate>
    <div class="flex flex-col gap-5">
      <div class="grid grid-cols-12 pt-10 pb-0 pl-5 pr-0 sm:pr-0 sm:p-14 sm:pb-5">
        <div class="flex flex-col justify-center col-span-7 sm:col-span-8">
          <p class="text-xl font-semibold sm:text-4xl text-secondary font-primary">Ya casi...</p>
          <p class="text-xl font-semibold sm:text-4xl text-secondary font-primary">¡Un último paso!</p>
        </div>
        <div class="flex items-center justify-center col-span-5 sm:col-span-4">
          <img class="w-full h-full aspect-auto" src="../../../../../assets/img/Mobile Phone_Monochromatic 1.png" alt="">
        </div>
      </div>
      <div class="flex flex-col px-5 pb-5 gap-7 sm:px-14 sm:pb-14">
        <p class="font-medium sm:text-xl">Se envió un correo electrónico para restablecer tu contraseña.</p>
        <p *ngIf="!canSubmitEmail" class="sm:text-xl text-[#B7B7B7] font-medium">Podés volver a enviar el correo en {{ minutos
          }}:{{ segundos < 10? '0' + segundos : segundos }}</p>
            <form class="flex flex-col gap-7" [formGroup]="codeForm" (ngSubmit)="submitEmail()">
              <input formControlName="code"
                class="w-full py-3 font-medium text-center border-2 rounded-full appearance-none sm:text-xl border-primary focus:border-primary focus:ring-primary focus:ring-0"
                type="number" placeholder="Código numérico">
              <div class="flex flex-col gap-3">
                <button mat-button mat-dialog-close [ngClass]="codeForm.invalid? 'bg-[#BEBEBE]' : 'bg-primary'"
                  class="w-full py-3 font-bold text-white rounded-full sm:text-xl"
                  [disabled]="codeForm.invalid" type="button">Recuperar clave</button>
                <button [ngClass]="!canSubmitEmail? 'bg-[#BEBEBE]' : 'bg-primary'"
                  class="w-full py-3 font-bold text-white rounded-full sm:text-xl" [disabled]="!canSubmitEmail"
                  (click)="submitEmail()">Reenviar email</button>
              </div>
            </form>
      </div>
    </div>      
  </ng-template>  

</div>
