<div class="bg-white rounded-3xl  w-full sm:w-[550px] md:w-[650px]">
    <div class="title bg-secondary flex justify-center p-3 text-white font-bold text-4xl">
        <h1>Editar Evento</h1>
    </div>
    <div class="">
        <form [formGroup]="newEvent" (ngSubmit)="editEvent()">
            <mat-dialog-content class="mat-typography">
                <div class="flex flex-col lg:flex-row gap-10 ">
                    <div class="flex flex-col gap-4 rounded-sm">
                        <input type="text" placeholder="titulo"
                            class="border rounded focus:ring-0 bg-[#F2F2F2] hover:bg-[#dad8d8]"
                            formControlName="titulo">
                        <input type="date" placeholder="fecha"
                            class="border rounded focus:ring-0 bg-[#F2F2F2] hover:bg-[#dad8d8]" 
                            formControlName="fecha">
                        <input type="time" placeholder="hora" value="Hora"
                            class="border rounded focus:ring-0 bg-[#F2F2F2] hover:bg-[#dad8d8]" 
                            formControlName="hora">
                        <input type="text" placeholder="Ingrese la ubicación"
                        class="border rounded focus:ring-0 bg-[#F2F2F2] hover:bg-[#dad8d8]"
                        formControlName="ubicacion">
                    </div>
                    <div class="flex ">
                        <textarea id="" cols="27" class="resize-none rounded p-3 sm:w-full"
                            placeholder="Acerca del evento"
                            formControlName="descripcion">
                        </textarea>
                    </div>

                </div>

            </mat-dialog-content>
            <mat-dialog-actions align="end">
                <div class="flex gap-2 pr-4">
                    <button mat-button mat-dialog-close type="button"
                        class="text-secondary border border-transparent hover:border hover:border-secondary px-4 py-2 rounded-full">Cancel</button>
                    <button mat-button [mat-dialog-close]="true" cdkFocusInitial
                        class="bg-accent border border-transparent text-white px-4 py-2 rounded-full"
                        type="submit">Guardar</button>
                </div>
            </mat-dialog-actions>
        </form>
    </div>


</div>