<div class="bg-white rounded-3xl w-full sm:w-[550px]">

  <div class="title bg-secondary flex justify-start p-3 text-white font-bold text-4xl gap-10 ">
    <div class="flex aspect-square">
      <div class="border-2 rounded-full aspect-square  flex items-center justify-center">
        <fa-icon [icon]="faInfo" class="text-base font-medium"></fa-icon>
      </div>
    </div>
    <h1 class="text-xl">Detalles del Evento </h1>
  </div>
<div class="p-5">

  <div class="p-7 flex justify-start lg:rounded-md lg:border lg:border-gray-300  ">
    <div class="flex flex-col gap-5">
      <div class="flex">
        <h1>La idea es encontrarnos en plaza serrano y definir un lugar al aire libre para compartir el almuerzo,
          distender la semana y conocernos :)</h1>
      </div>
      <div class="flex flex-col gap-8 ">

        <p class="text-base font-normal text-secondary "><fa-icon [icon]="faLocation"
            class="text-base font-medium text-primary mr-3"></fa-icon> Plaza serrano</p>



        <p class="text-base font-normal text-secondary"><fa-icon [icon]="faCalendari"
            class="text-base font-medium text-primary mr-3"></fa-icon> 12/12/2023</p>

        <p class="text-base font-normal text-secondary"><fa-icon [icon]="faClock"
            class="text-base font-medium text-primary mr-3"></fa-icon> 12/12/2023</p>
      </div>
    </div>  
  </div>

</div>


  <div class="flex  flex-col px-7 pb-7 gap-5 lg:flex-row lg:justify-end w-full lg:gap-5 lg:px-5 lg:pb-5 lg:p-11">
    <button mat-button mat-dialog-close class="rounded-full px-2 py-1 border border-secondary lg:rounded-full lg:px-4 lg:py-2"> Cancelar</button>
    <button class="bg-accent rounded-full px-2 py-1 lg:px-4 lg:py-2 text-white font-bold" (click)="confirmar()"> Confirmar asistencia</button>
  </div>

</div>