<div class="container flex flex-col gap-12 px-5 py-12 mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div class="flex items-center justify-center md:w-5/6">
      <div class="flex flex-col gap-5">
        <p class="text-4xl font-bold font-primary text-secondary">Couchsurfing</p>
        <div class="flex flex-col gap-5">
          <p class="text-3xl font-bold text-secondary">¿De qué se trata?</p>
          <div>
            <p class="text-xl"><span class="font-bold">Couchsurfing</span> es una comunidad de viajeros que se conectan con los lugareños para compartir alojamiento.</p>
            <ul class="text-xl">
              <li>
                <p>• Brinda alojamiento <span class="font-bold">gratuito</span>, intercambio cultural y nuevas amistades.</p>
              </li>
              <li>
                <p>• <span class="font-bold">Los viajeros pueden quedarse con los lugareños</span> y sumergirse en la cultura local.</p>
              </li>
            </ul>
          </div>
        </div>
        <p class="text-2xl font-bold">¡Únete a la comunidad de Couchsurfing hoy y comienza tu próxima aventura!</p>
      </div>
    </div>
    <div class="items-center justify-center hidden w-full h-full bg-gray-300 md:flex">
      <img src="" alt="">
    </div>
  </div>
  <div class="flex flex-col gap-9">
    <p class="text-4xl font-bold text-center font-primary text-secondary md:text-start">Lugares disponibles</p>
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-9">
      <ng-container *ngFor="let item of [].constructor(items); let i = index">
        <div *ngIf="i === 4" [ngClass]="{'xl:col-span-2': i === 4}" class="flex overflow-hidden border border-gray-300 border-solid rounded-3xl lg:gap-20">
          <div class="hidden w-1/3 bg-gray-300 md:flex aspect-video">
            <img class="object-cover w-full h-full" src="../../../assets/img/hostel.jpg" alt="">
          </div>
          <div class="flex flex-col items-start justify-center gap-6 p-8">
            <div class="flex flex-col w-full gap-2 ">
              <p class="text-4xl font-bold lg:w-3/5 font-primary text-secondary">Consigue tu Alojamiento Gratuito</p>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis vulputate quam.</p>
            </div>
            <button class="px-6 py-2 text-xl font-medium text-white rounded-full sm:ml-auto bg-secondary font-primary">Conocer Alojamientos</button>
          </div>
        </div>
        <div class="flex flex-col overflow-hidden border border-gray-300 border-solid sm:flex-row rounded-3xl">
          <div class="h-full bg-gray-300 aspect-video sm:aspect-square">
            <img class="object-cover h-full" src="../../../assets/img/hostel.jpg" alt="">
          </div>
          <div class="flex flex-col items-start justify-center gap-6 p-8">
            <div class="flex flex-col w-full gap-2 sm:w-[340px] md:w-[450px] lg:w-[700px] xl:w-[350px] 2xl:w-[450px]">
              <p class="text-xl font-bold">Nombre de alojamiento</p>
              <p class="truncate">Breve descripción del alojamiento  lkasd ljas jlajd la sdla djal dlaj dkja sl ajd lajd kl al jasld jald jla jd aldj ald kajsld ajsdlas ka dla dj ald jalsd jaljsd la sd.</p>
            </div>
            <button class="px-6 py-2 text-white rounded-full bg-primary font-primary">Contactar</button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>