<div class="p-9 flex flex-col gap-4 rounded-3xl bg-white" mat-dialog>
  <h2 class="font-bold text-center text-xl">¿Realmente quieres eliminar tu cuenta?</h2>
  <div mat-dialog-actions class="flex flex-col sm:flex-row gap-4 content-center">
    <button mat-button mat-dialog-close (click)="deleteAccount()" class="p-2 w-44 bg-accent text-white text-bold rounded-full">Aceptar</button>
    <button mat-button mat-dialog-close class="p-2 w-44 bg-primary text-white text-bold rounded-full">Cancelar</button>
  </div>
</div>
