<div class="bg-secondary">
  <div class="container px-5 py-4 mx-auto sm:py-5 lg:py-10">
    <p class="flex items-center text-2xl font-bold text-white sm:text-2xl lg:text-4xl font-primary"><fa-icon [icon]="faHouse" class="px-2 mr-2 text-xl sm:text-2xl lg:text-3xl"></fa-icon>Alojamientos</p>
  </div>
</div>
<div class="container flex flex-col px-5 py-5 mx-auto sm:gap-12 sm:py-6 lg:py-12">  
  <div class="hidden grid-cols-1 sm:grid sm:grid-cols-12">
    <div class="flex items-center justify-center col-span-7 md:w-5/6">
      <div class="flex flex-col gap-5 lg:gap-8">
        <p class="text-3xl font-bold lg:text-4xl font-primary text-secondary">Couchsurfing</p>
        <div class="flex flex-col gap-5 lg:gap-8">
          <p class="text-xl font-bold lg:text-3xl text-secondary">¿De qué se trata?</p>
          <div class="text-base lg:text-xl">
            <p class=""><span class="font-bold">Couchsurfing</span> es una comunidad de viajeros que se conectan con los lugareños para compartir alojamiento.</p>
            <ul class="">
              <li>
                <p>• Brinda alojamiento <span class="font-bold">gratuito</span>, intercambio cultural y nuevas amistades.</p>
              </li>
              <li>
                <p>• <span class="font-bold">Los viajeros pueden quedarse con los lugareños</span> y sumergirse en la cultura local.</p>
              </li>
            </ul>
            <p class="mt-3 font-bold lg:mt-9">¡Únete a la comunidad de Couchsurfing hoy y comienza tu próxima aventura!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="items-center justify-center hidden w-full col-span-5 sm:flex">
      <img class="object-cover w-full h-full 2xl:h-auto 2xl:w-auto rounded-3xl" src="../../../assets/img/couchsurfing-banner.png" alt="">
    </div>
  </div>  
  <div class="flex flex-col gap-6 lg:gap-9">
    <div class="flex justify-between">
      <p class="hidden text-3xl font-bold text-center sm:text-left lg:text-4xl sm:block font-primary text-secondary md:text-start">Lugares disponibles</p>
      <button class="w-full px-6 py-2 text-sm font-medium text-white rounded-full sm:w-auto bg-primary" (click)="openDialog()">
        <fa-icon class="pr-2" [icon]="faPlus"></fa-icon>
        Crear oferta
      </button>

    </div>
    <div class="grid grid-cols-1 gap-9">
      <app-couchsurfing-card *ngFor="let item of alojamientoList" [hosting]="item"></app-couchsurfing-card>
    </div>
  </div>  
</div>