<div class="bg-secondary">
  <div class="container px-5 py-10 mx-auto">
    <p class="flex items-center text-4xl font-bold text-white font-primary"><fa-icon [icon]="faHouse" class="px-2 mr-2 text-3xl"></fa-icon>Alojamiento</p>
  </div>
</div>
<div class="container flex flex-col gap-12 px-5 py-12 mx-auto">
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <div class="flex items-center justify-center md:w-5/6">
      <div class="flex flex-col gap-5">
        <p class="text-4xl font-bold font-primary text-secondary">Couchsurfing</p>
        <div class="flex flex-col gap-5">
          <p class="text-3xl font-bold text-secondary">¿De qué se trata?</p>
          <div>
            <p class="text-xl"><span class="font-bold">Couchsurfing</span> es una comunidad de viajeros que se conectan con los lugareños para compartir alojamiento.</p>
            <ul class="text-xl">
              <li>
                <p>• Brinda alojamiento <span class="font-bold">gratuito</span>, intercambio cultural y nuevas amistades.</p>
              </li>
              <li>
                <p>• <span class="font-bold">Los viajeros pueden quedarse con los lugareños</span> y sumergirse en la cultura local.</p>
              </li>
            </ul>
          </div>
        </div>
        <p class="text-2xl font-bold">¡Únete a la comunidad de Couchsurfing hoy y comienza tu próxima aventura!</p>
      </div>
    </div>
    <div class="items-center justify-center hidden w-full h-full bg-gray-300 lg:flex">
      <img class="object-cover w-full h-full" src="../../../assets/img/hostel.jpg" alt="">
    </div>
  </div>
  <div class="flex flex-col gap-9">
    <p class="text-4xl font-bold text-center font-primary text-secondary md:text-start">Lugares disponibles</p>
    <div class="grid grid-cols-1 gap-9">
      <app-couchsurfing-card *ngFor="let item of hostingArray" [hosting]="item"></app-couchsurfing-card>
    </div>
  </div>
</div>