<div class="min-h-screen">
    <div class="w-full gap-5">

        <div class="flex justify-center items-center w-full text-center  bg-secondary h-20 py-9">
            <h1 class="text-4xl text-white"> Tus ofertas </h1>
        </div>
        <div class="flex sm:hidden lg:hidden text-3xl">
            <button (click)="mostrar()">
                <fa-icon [icon]="faFlech" class="pr-2">
                </fa-icon>
            </button>

        </div>
        <div class="container grid sm:grid-cols-3 mx-auto px-5">

            <div class="sm:flex px-5 flex-col hidden" [class.hidden]="hidde">

                <div class="flex flex-col mt-[-50px] gap-4" >
                    <picture>
                      <div class="bg-face w-[10rem] h-[10rem] rounded-[50%] grid justify-end">
                        <button class="w-[2.8rem] h-[2.8rem] text-4xl text-white bg-accent rounded-[50%] flex justify-center items-center border-[0.37rem] border-white self-end pb-1" (click)="updateProfilePhoto()">+</button>
                      </div>
                    </picture>

                    <ng-container *ngIf="user$ | async as user">
                      <span class="text-2xl text-secondary font-primary font-bold" routerLink="/profile">{{ user.email }}</span>
                    </ng-container>

                    <h3 class="text-2xl text-secondary font-primary font-bold">Argentina</h3>
                    <ul class="list-disc ml-6 text-xl">
                        <li>Ingeniera</li>
                        <li>Vivo con Manchis</li>
                        <li>Noos encanta ser</li>
                        <li>te hospedamos sin costo </li>
                    </ul>
                    <h1 class="text-secondary text-2xl font-primary font-bold">Contacto</h1>
                    <ul class=" text-xl">


                        <li> <fa-icon [icon]="faLocation" class="pr-2">

                            </fa-icon>Buenos aires</li>
                        <li> <fa-icon [icon]="faPhone" class="pr-2">

                            </fa-icon> 34334234</li>
                        <li> <fa-icon [icon]="faHashtag" class="pr-2">

                            </fa-icon> <a href=""> Link a Intagram</a></li>

                    </ul>
                    <ng-container *ngIf="user$ | async as user">
                      <div class="flex gap-6">
                        <button class="px-12 py-2 mt-4 text-xl font-semibold text-white rounded-full bg-primary font-primary w-full" (click)="logout()">Salir</button>
                        <button class="px-12 py-2 mt-4 text-xl font-semibold text-white rounded-full bg-accent font-primary w-full" mat-button (click)="deleteAccount()">Eliminar</button>
                      </div>
                      <div>
                      </div>
                    </ng-container>
                  </div>

            </div>
            <!-- informacion perfil -->

            <div class="flex flex-wrap col-span-2 gap-6 py-5 ">
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
            </div>


        </div>


    </div>
</div>
