<div class="min-h-screen">
  <div class="w-full gap-5">
    <div class="flex items-center justify-center w-full h-20 text-center bg-secondary py-9">
      <h1 class="text-4xl text-white"> Tus ofertas </h1>
    </div>
    <div class="container flex flex-wrap px-5 mx-auto">
      <div class="flex flex-col mt-[-50px] gap-4 md:w-1/4">
          <picture>
            <div class="bg-face w-[10rem] h-[10rem] rounded-[50%] grid justify-end">
              <button
                class="w-[2.8rem] h-[2.8rem] text-4xl text-white bg-accent rounded-[50%] flex justify-center items-center border-[0.37rem] border-white self-end pb-1"
                (click)="updateProfilePhoto()">+</button>
            </div>
          </picture>

          <h1>{{dateUser}}</h1>
          <h3 class="text-2xl font-bold text-secondary font-primary">Argentina</h3>
          <ul class="ml-6 text-xl list-disc">
            <li>Ingeniera</li>
            <li>Vivo con Manchis</li>
            <li>Noos encanta ser</li>
            <li>te hospedamos sin costo </li>
          </ul>
          <h1 class="text-2xl font-bold text-secondary font-primary">Contacto</h1>
          <ul class="text-xl ">
            <li> <fa-icon [icon]="faLocation" class="pr-2">
              </fa-icon>Buenos aires</li>
            <li> <fa-icon [icon]="faPhone" class="pr-2">
              </fa-icon> 34334234</li>
            <li> <fa-icon [icon]="faHashtag" class="pr-2">
              </fa-icon> <a href=""> Link a Intagram</a>
            </li>
          </ul>
          <div class="h-1/3"></div>
          <button mat-button class="px-3 md:px-6 py-2 text-sm mt-2 md:mt-4 md:text-xl text-white rounded-full bg-primary font-primary hover:bg-[#7edcd4] hover:border-[#7edcd4]" (click)="openDialog()">Editar</button>
        </div>
      <div
        class="flex flex-wrap justify-start max-h-screen col-span-2 gap-3 py-5 overflow-y-auto sm:flex sm:h-auto md:w-3/4">
        <!-- <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card> -->
      </div>
    </div>
  </div>
</div>
