<div class="min-h-screen">
    <div class="w-full gap-5">

        <div class="w-full text-center  bg-secondary h-20 py-9">
            <h1 class="text-4xl text-white"> Tus ofertas </h1>
        </div>
        <div class="flex sm:hidden lg:hidden text-3xl">
            <button (click)="mostrar()">
                <fa-icon [icon]="faFlech" class="pr-2">
                </fa-icon>
            </button>

        </div>
        <div class="container grid sm:grid-cols-3 mx-auto px-5">

            <div class="sm:flex px-5 flex-col hidden" [class.hidden]="hidde">
               
                <div class="flex flex-col mt-[-50px] gap-4" >
                    <picture class="">
                        <img src="../../../assets/img/hostel.jpg" alt="" class="w-[10rem] h-[10rem] rounded-[50%]">
                    </picture>

                    <h1 class="text-3xl text-secondary font-primary font-bold">Martina Blanco</h1>
                    <h3 class="text-2xl text-secondary font-primary font-bold">Argentina</h3>
                    <ul class="list-disc ml-6 text-xl">
                        <li>Ingeniera</li>
                        <li>Vivo con Manchis</li>
                        <li>Noos encanta ser</li>
                        <li>te hospedamos sin costo </li>

                    </ul>
                    <h1 class="text-secondary text-2xl font-primary font-bold">Contacto</h1>
                    <ul class=" text-xl">


                        <li> <fa-icon [icon]="faLocation" class="pr-2">

                            </fa-icon>Buenos aires</li>
                        <li> <fa-icon [icon]="faPhone" class="pr-2">

                            </fa-icon> 34334234</li>
                        <li> <fa-icon [icon]="faHashtag" class="pr-2">

                            </fa-icon> <a href=""> Link a Intagram</a></li>

                    </ul>
                </div>

            </div>
            <!-- informacion perfil -->

            <div class="flex flex-wrap col-span-2 gap-6 py-5 ">
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
            </div>


        </div>


    </div>
</div>







<!-- <div class="picture-profile container w-full grid grid-cols-2 gap-7 px-5 mx-auto mt-[-50px]">
    <div class="container flex flex-col">

        <picture>

            <img src="../../../assets/img/hostel.jpg" alt="" class="w-[9rem] h-[9rem] rounded-[50%]">
        </picture>


        <div class="info flex flex-col gap-3">
            <h1 class="text-3xl text-secondary">Martina Blanco</h1>
            <h3 class="text-2xl text-secondary">Argentina</h3>
            <ul>
                <li class="flex flex-col gap-3">
                    <p>Ingeniera</p>
                    <p>Vivo con Manchis</p>
                    <p> Noos encanta ser </p>
                    <p>te hospedamos sin costo </p>
                </li>
            </ul>
            <h1 class="text-secondary text-2xl">Contacto</h1>
            <ul>
                <li class="flex flex-col gap-2">
                    <p class=""><fa-icon [icon]="faLocation" class=" px-2"></fa-icon>Buenos aires</p>
                    <p> <fa-icon [icon]="faPhone" class=" px-2"></fa-icon> 34334234</p>
                    <p> <fa-icon [icon]="faHashtag" class=" px-2"></fa-icon> <a href=""> Link a Intagram</a></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex justify-center items-center">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
</div> -->