<div>
  <div class="container px-5 py-10 mx-auto">
    <div class="flex flex-col overflow-hidden border border-gray-300 border-solid sm:flex-row rounded-3xl lg:gap-20">
      <div class="h-32 bg-gray-300 sm:h-auto md:w-2/4 md:flex aspect-video">
        <img class="object-cover w-full h-full" src="../../../assets/img/couch-ad-bg.png" alt="">
      </div>
      <div class="flex flex-col items-start justify-center gap-6 p-8">
        <div class="flex flex-col w-full gap-2 text-center sm:text-left">
          <p class="text-xl font-bold sm:text-2xl md:text-4xl lg:w-3/5 font-primary text-secondary">Consigue tu Alojamiento Gratuito</p>
          <p class="hidden sm:block sm:text-left md:text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis vulputate quam.</p>
        </div>
        <button routerLink="/alojamiento" class="px-6 py-2 mx-auto font-medium text-white rounded-full sm:text-xl sm:mr-0 sm:ml-auto bg-accent font-primary">Conocer Alojamientos</button>
      </div>
    </div>
  </div>
</div>