<div class="min-h-screen">
    <div class="titulo bg-secondary ">
        <div class="container flex mx-auto p-5">
            <h1 class="text-white text-4xl font-primary font-bold flex items-center"><fa-icon
                    class="text-3xl mr-2 p-0 m-0" [icon]="faHouse"></fa-icon>Comunidad</h1>
        </div>
    </div>
    <div class="navbar  border-b rounded-full">
        <div class="container mx-auto px-5 flex gap-5 items-center ">
            <button class="hover:border-b-4 border-primary px-4 py-2"><fa-icon class="text-2xl mr-2 p-0 m-0"
                    [icon]="faCalendari" (click)="ShowEvents()"></fa-icon>Eventos</button>
            <button class="hover:border-b-4 border-primary px-4 py-2"><fa-icon class="text-2xl mr-2 p-0 m-0"
                    [icon]="faComent" (click)="ShowForum()"></fa-icon>Foros</button>
        </div>
    </div>

    <div class="" *ngIf="isForo">

        <app-forum></app-forum>

    </div>

    <div class="" *ngIf="isEvents">
       
        <h1>asdad</h1>

    </div>




</div>
