<div class="min-h-screen">
  <div class="titulo bg-secondary ">
    <div class="container flex p-5 mx-auto">
      <h1 class="flex items-center text-4xl font-bold text-white font-primary"><fa-icon class="p-0 m-0 mr-2 text-3xl"
          [icon]="faHouse"></fa-icon>Comunidad</h1>
    </div>
  </div>
  <div class="hidden border-b rounded-full navbar">
    <div class="container flex items-center gap-5 px-5 mx-auto ">
      <a routerLink="eventos" routerLinkActive="active"
        class="px-4 py-2 border-b-4 border-transparent hover:border-primary"><fa-icon class="p-0 m-0 mr-2 text-2xl"
          [icon]="faCalendari"></fa-icon>Eventos</a>
      <a routerLink="foros" routerLinkActive="active"
        class="hidden px-4 py-2 border-b-4 border-transparent hover:border-primary"><fa-icon class="p-0 m-0 mr-2 text-2xl"
          [icon]="faComent"></fa-icon>Foros</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>