<!-- nav -->
<div class="border-b-2 border-gray-300 ">
  <div class="container flex items-center justify-between gap-5 px-5 py-4 mx-auto">
    <a href="/" class="flex items-center w-auto">
      <img class="w-40 aspect-auto" src="./../../../assets/img/6. Logo Horizontal.png" alt="logo">
    </a>
    <ul class="hidden gap-5 md:flex">
      <li>
        <a routerLink="/alojamiento" routerLinkActive="active" class="text-lg font-medium">Alojamiento</a>
      </li>
      <li>
        <a routerLink="/jobs" routerLinkActive="active" class="text-lg font-medium">Trabajo</a>
      </li>
      <li>
        <a routerLink="/comunidad" routerLinkActive="active" class="text-lg font-medium">Comunidad</a>
      </li>
    </ul>
    <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar"
      type="button"
      class="md:hidden">
      <span class="sr-only">Open sidebar</span>
      <fa-icon class="text-dark" [icon]="faBars"></fa-icon>
    </button>
    <div class="hidden md:block">      
      <ng-container *ngIf="user; else notUser">
        <div *ngIf="user" class="relative items-center hidden md:flex">
          <button type="button" id="options-menu-button" (click)="toggleOptionsMenu()"
            [attr.aria-expanded]="isOptionsMenuOpen ? 'true' : 'false'"
            class="inline-flex justify-center w-full text-sm font-medium rounded-full shadow-sm focus:outline-none">
            <span class="sr-only">Open options</span>
            <img class="w-10 h-10 rounded-full" src="{{ user.foto? user.foto : '../../../assets/img/face-profile.png' }}" alt="">
          </button>
          <div id="options-menu" [hidden]="!isOptionsMenuOpen" aria-labelledby="options-menu-button"
            class="absolute right-0 z-10 w-48 overflow-hidden bg-white rounded-tr-none shadow-lg top-16 rounded-2xl ring-1 ring-black ring-opacity-5 focus:outline-none">
            <a routerLink="/profile" class="block p-4 cursor-pointer text-primary hover:bg-primary hover:text-white"
              (click)="toggleOptionsMenu()">Perfil</a>
            <a (click)="logout(); toggleOptionsMenu()" routerLink="/login"
              class="block p-4 cursor-pointer text-primary hover:bg-primary hover:text-white">Salir</a>
          </div>
        </div>
      </ng-container>
      <ng-template #notUser>
        <button class="px-6 py-2 text-sm font-semibold text-white rounded-full bg-primary font-primary"
          routerLink="/login">Iniciar</button>
      </ng-template>
    </div>
  </div>
</div>

<aside id="default-sidebar"
  class="fixed top-0 left-0 z-40 w-full h-screen transition-transform -translate-x-full sm:w-80 md:hidden"
  aria-label="Sidebar">
  <div class="flex flex-col h-full overflow-y-auto bg-white">    
    <!-- esto tiene que ser igual al nav -->
    <div class="border-b-2 border-gray-300">
      <div class="container flex justify-between gap-5 px-5 py-4 mx-auto">    
        <a href="/" class="flex items-center w-auto">
          <img class="w-40 aspect-auto" src="./../../../assets/img/6. Logo Horizontal.png" alt="logo">
        </a>
        <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar"
          type="button" class="md:hidden">
          <span class="sr-only">Close sidebar</span>
          <fa-icon class="text-dark" [icon]="faXmark"></fa-icon>
        </button>
      </div>
    </div>
    <!-- =============================== -->
    <div *ngIf="user" class="flex flex-col items-center justify-center gap-2 px-5 py-6 border-b border-gray-300 sm:items-start">
      <div data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" routerLink="/profile" class="w-20 overflow-hidden rounded-full aspect-square">
        <img class="object-cover w-full h-full" src="{{ user.foto? user.foto : '../../../assets/img/face-profile.png' }}" alt="">
      </div>
      <p data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" routerLink="/profile" class="text-xl font-bold">{{user.nombre}} {{user.apellido}}</p>
    </div>      
    <div class="px-5 py-6 border-b border-gray-300">
      <ul class="flex flex-col gap-5 text-lg font-medium text-center sm:text-left">
        <li>
          <a 
            data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" routerLink="/alojamiento">
            Alojamiento
          </a>
        </li>
        <li>
          <a 
            data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" routerLink="/jobs">
            Trabajo
          </a>
        </li>
        <li>
          <a
            data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" routerLink="/comunidad">
            Comunidad
          </a>
        </li>
      </ul>
    </div>
    <div class="flex flex-col items-center justify-center gap-5 px-5 py-6 sm:items-start">
      <ng-container *ngIf="user; else noUser">
        <button *ngIf="user"
          data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar"
          class="text-lg font-medium underline text-accent underline-offset-4" (click)="logout()">
          Cerrar sesión
        </button>
      </ng-container>
      <ng-template #noUser>
        <button
          data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar"
          class="text-lg font-medium underline text-primary underline-offset-4" routerLink="/login">
          Iniciar sesión
        </button>
        <button 
          data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar"
          class="text-lg font-medium underline text-primary underline-offset-4" routerLink="/register">
          Registrarse
        </button>
      </ng-template>
    </div>
  </div>
</aside>