<div class="container grid grid-cols-2 px-5 py-5 mx-auto bg-white lg:grid-cols-3">
  <div class="order-1 w-full title-logo">
    <h1 class="text-4xl font-bold text-azul">Nómadas</h1>
  </div>
  <div class="flex flex-wrap justify-between order-last w-full col-span-2 text-xl font-medium lg:col-span-1 lg:order-2">
    <a href="" class="my-auto">Migración</a>
    <a href="" class="my-auto">Servicios</a>
    <a href="" class="my-auto">Salud</a>
    <a href="" class="my-auto">Trabajo</a>
  </div>
  <div class="flex justify-end order-3 w-full space-x-6">
    <div class="bg-gray-300 rounded-full aspect-square"></div>
    <button class="text-xl font-semibold text-white rounded-full bg-azul px-14" routerLink="/login">Iniciar</button>
  </div>
</div>