<div class="flex flex-col overflow-hidden border border-gray-300 border-solid rounded-xl">
  <div class="w-full p-5 border-b border-gray-300 border-solid">
    <p class="text-2xl font-bold">Nombre de alojamiento</p>
    <p class="text-lg font-normal"><fa-icon [icon]="faLocationDot" class="mr-2"></fa-icon>ubicacion</p>
  </div>
  <div class="flex flex-col sm:flex-row">
    <div class="w-full bg-gray-300 sm:w-1/3 aspect-video">
      <img class="object-cover w-full h-full" src="../../../assets/img/hostel.jpg" alt="">
    </div>
    <div class="flex flex-col items-start gap-5 p-5 sm:w-2/3">
      <p class="">Breve descripción del alojamiento lkasd ljas jlajd la sdla djal dlaj dkja sl ajd lajd kl al jasld jald jla jd aldj ald kajsld ajsdlas ka dla dj ald jalsd jaljsd la sd.</p>
    </div>
  </div>
  <div class="flex justify-end w-full p-5 bg-secondary">
    <button class="px-6 py-2 text-xl font-medium text-white rounded-full bg-primary font-primary">Contactar Anunciante</button>
  </div>
</div>