<div class="flex w-full py-5 sm:py-10">
  <div class="container px-5 mx-auto">
    <div class="grid grid-cols-2 sm:gap-5">
      <div class="flex flex-col items-start justify-center w-full gap-3 md:gap-8 lg:py-14">
        <div>
          <h1 class="w-full text-2xl font-bold sm:text-3xl md:text-6xl font-primary xl:w-11/12">Trabajá</h1>
          <p class="text-2xl font-bold md:text-6xl sm:text-3xl font-primary text-primary">con nosotros.</p>
        </div>
        <div class="flex flex-col gap-2">
          <p class="hidden text-sm font-normal md:text-xl sm:block xl:w-4/5">Creamos experiencias digitales
            excepcionales para nuestros clientes con soluciones personalizadas.</p>
          <p class="text-sm font-bold md:text-xl xl:w-4/5">¡Déjanos ayudarte a alcanzar tus objetivos!</p>
        </div>
        <button class="w-full px-4 py-2 text-sm font-bold text-white rounded-full sm:w-auto sm:text-2xl bg-accent font-primary">
          Conocenos
        </button>
      </div>
      <div class="relative overflow-hidden bg-left bg-cover md:bg-contain sm:bg-center bg-img rounded-3xl">        
        <div id="web"
          class="absolute flex flex-col p-1 px-2 text-xs text-center bg-white rounded-lg md:bottom-24 bottom-7 sm:px-8 sm:p-2 drop-shadow-lg anim">
          <fa-icon class="text-[#34D399] text-xs md:text-2xl" [icon]="faCircleCheck"></fa-icon>
          <p class="text-[8px] md:text-sm">Sitio web</p>
          <p class="font-bold text-[8px] md:text-sm mt-[-8px] sm:mt-0">programado</p>
        </div>
        <div id="db"
          class="absolute flex flex-col p-1 px-2 text-xs text-center bg-white rounded-lg top-1 right-1 xl:right-40 sm:px-8 sm:p-2 drop-shadow-lg anim">
          <fa-icon class="text-[#34D399] text-xs md:text-2xl" [icon]="faDatabase"></fa-icon>
          <p class="text-[8px] md:text-sm">Database</p>
          <p class="font-bold text-[8px] md:text-sm mt-[-8px] sm:mt-0">terminada</p>
        </div>
        <div id="diseño"
          class="absolute flex flex-col p-1 px-2 text-xs text-center bg-white rounded-lg md:bottom-7 bottom-1 xl:right-44 right-1 sm:px-8 sm:p-2 drop-shadow-lg anim">
          <fa-icon class="text-[#34D399] text-xs md:text-2xl" [icon]="faPaintBrush"></fa-icon>
          <p class="text-[8px] md:text-sm">Diseño de interfaz</p>
          <p class="font-bold text-[8px] md:text-sm mt-[-8px] sm:mt-0">¡Listo!</p>
        </div>
      </div>
    </div>
    <div class="flex justify-center gap-8 mt-10 mb-5">
      <div
        class="text-xl shadow-lg max-w-[190px] w-full flex flex-col justify-center font-bold text-center rounded-2xl sm:rounded-3xl md:rounded-[40px] aspect-square border border-gray-300 font-primary text-secondary gap-y-2">
        <div class="text-[10px] md:gap-2 flex flex-col sm:text-base md:text-xl">
          
          <div class="flex justify-center">
            <img class="w-6 sm:w-14" src="../../../../../assets/img/Emojis/Confiables.png" alt="">
          </div>

          <div>
            <p>Tres</p>
            <p class="mt-[-15px] sm:mt-auto">Nacionalidades</p>
          </div>
        </div>
      </div>
      <div
        class="text-xl shadow-lg max-w-[190px] w-full flex flex-col justify-center font-bold text-center rounded-2xl sm:rounded-3xl md:rounded-[40px] aspect-square border border-gray-300 font-primary text-secondary gap-y-2">
        <div class="text-[10px] md:gap-2 flex flex-col sm:text-base md:text-xl">
          <div class="flex justify-center">
            <img class="w-6 sm:w-14" src="../../../../../assets/img/Emojis/Apasionados.png" alt="">
          </div>
          <div>
            <p>Equipo de</p>
            <p class="mt-[-15px] sm:mt-auto">10 personas</p>
          </div>
        </div>
      </div>
      <div
        class="text-xl shadow-lg max-w-[190px] w-full flex flex-col justify-center font-bold text-center rounded-2xl sm:rounded-3xl md:rounded-[40px] aspect-square border border-gray-300 font-primary text-secondary gap-y-2">
        <div class="text-[10px] md:gap-2 flex flex-col sm:text-base md:text-xl">
          <div class="flex justify-center">
            <img class="w-6 sm:w-14" src="../../../../../assets/img/Emojis/Mascotas.png" alt="">
          </div>
          <div>
            <p>Cinco</p>
            <p class="mt-[-15px] sm:mt-auto">Mascotas</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>