.bg-img {
  background-image: url('../../../../../assets/img/about-us-banner.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#web {
  top: 50%;
  left: 3%;
  animation: anim;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  transform: scale(0);
}

#db {
  top: 20%;
  right: 20%;
  animation: anim;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  transform: scale(0);
}

#diseño {
  bottom: 15%;
  right: 20%;
  animation: anim;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  transform: scale(0);
}

@keyframes anim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}