<form >
  <h2 mat-dialog-title>Crear Oferta</h2>
  <mat-dialog-content class="mat-typography">
    <div class="flex flex-col gap-2">
      <input type="text" placeholder="Cargo" class="border-none focus:ring-0 bg-[#F2F2F2] hover:bg-[#dad8d8]">
      <input type="text" placeholder="Ubicación" class="border-none focus:ring-0 bg-[#F2F2F2] hover:bg-[#dad8d8]">
      <input type="text" placeholder="$ Sueldo mensual" class="border-none focus:ring-0 bg-[#F2F2F2] hover:bg-[#dad8d8]">
      <input type="text" placeholder="Descripción" class="border-none focus:ring-0 bg-[#F2F2F2] hover:bg-[#dad8d8]">
      <input type="text" placeholder="Teléfono" class="border-none focus:ring-0 bg-[#F2F2F2] hover:bg-[#dad8d8]">
      <input type="text" placeholder="Logo (opcional)" class="border-none focus:ring-0 bg-[#F2F2F2] hover:bg-[#dad8d8]">
    </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <div  class="flex gap-2 pr-4">
        <button mat-button mat-dialog-close class="text-secondary border border-transparent hover:border hover:border-secondary px-4 py-2 rounded-full">Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="bg-primary border border-transparent text-white px-4 py-2 rounded-full hover:bg-[#7cdcd4]">Crear</button>
      </div>
    </mat-dialog-actions>
</form>
