<div class="flex flex-col justify-between gap-4 p-5 border border-gray-300 sm:gap-0 rounded-xl sm:flex-row">

  <div class="flex flex-col gap-5 sm:flex-row">

    <div>
      <div class="w-8 sm:w-[80px] aspect-square rounded-full bg-gray-300 bg-face"></div>
    </div>

    <div class="flex flex-col gap-5 sm:w-2/3">
      <div class="flex flex-col gap-1">
        <p class="text-xl sm:text-3xl">{{offer.cargo}}</p>
        <p class="text-sm font-medium text-gray-700">Publicada el: {{offer.fecha | date}}</p>
      </div>
      <div class="flex gap-5">
        <p class="font-medium"><fa-icon [icon]="faLocationDot" class="mr-2 text-xl"></fa-icon>{{offer.ubicacion}}</p>
        <p class="font-medium">{{offer.sueldo | currency}}</p>
      </div>
      <p class="text-gray-700">{{offer.descripcion}}</p>
    </div>

  </div>

  <div class="flex items-end">
    <button class="px-6 py-2 text-sm font-medium border rounded-full border-secondary text-secondary">Aplicar</button>
  </div>
  
</div>
