<div class="flex flex-col p-5 border border-gray-300 rounded-xl sm:flex-row">
  <div class="flex gap-5">
    <div>
      <div class="w-[80px] aspect-square rounded-full bg-gray-300 bg-face"></div>
    </div>
    <div class="flex flex-col w-2/3 gap-5">
      <div class="flex flex-col gap-1">
        <p class="text-3xl">{{offer.title}}</p>
        <p class="text-sm font-medium text-gray-700">Publicada el: {{offer.date}}</p>
      </div>
      <div class="flex gap-5">
        <p class="text-2xl"><fa-icon [icon]="faLocationDot" class="mr-2 text-xl"></fa-icon>{{offer.location}}</p>
        <p class="text-2xl">{{offer.salary | currency}}</p>
      </div>
      <p class="text-gray-700">{{offer.description}}</p>
    </div>
  </div>
  <div class="flex items-end">
    <button class="px-6 py-2 text-sm font-medium border rounded-full border-secondary text-secondary">Aplicar</button>
  </div>
</div>
