<div class="flex w-full py-10">
  <div class="container grid grid-cols-1 gap-5 px-5 mx-auto space-y-10 lg:grid-cols-2 lg:flex-row sm:space-y-0">
    <div class="flex flex-col items-start justify-center w-full">
      <h1 class="w-full text-6xl font-semibold font-primary xl:w-11/12">Haz de Argentina tu nuevo hogar</h1>
      <p class="text-xl font-semibold mt-11 xl:w-4/5">No te sientas solo en tu nueva aventura.</p>
      <p class="mt-2 text-xl font-normal xl:w-4/5">Te ofrecemos toda la ayuda y el apoyo que necesitas para establecerte
        en Argentina con éxito.</p>
      <button class="px-10 py-2 text-2xl font-semibold text-white rounded-full bg-accent mt-11 font-primary" routerLink="/register">¡Comenzá hoy!</button>
    </div>
    <div class="hidden overflow-hidden lg:flex">
      <img class="object-cover w-full h-full m-auto rounded-3xl" src="../../../assets/img/hostel.jpg" alt="">
    </div>
  </div>
</div>
