<div class="flex h-screen bg-hostel">
  <div class="cabecera w-[538px] bg-white flex flex-col items-center justify-center">
    <div class="p-[50px]">
      <div class="w-2/3 mb-10" >
          <h1 class="text-[#4046C8] text-[2.2rem]">
              Nos alegra verte de nuevo
          </h1>
      </div>

      <div class="w-full mb-2 text-gray-500">
          <p><fa-icon [icon]="faHome" class=" px-2"></fa-icon>Encuentra alojamientos</p>
          <p><fa-icon [icon]="faLaptop" class="px-2"></fa-icon>Postula a ofertas laborales</p>
          <p><fa-icon class="px-2" [icon]="faHeart"></fa-icon>Conecta con otros emigrantes</p>
      </div>
    </div>

    <div class="flex flex-col items-start justify-start gap-5 w-[400px] text-[#858585]">

      <input type="email" name="email" class=" w-full h-[56px] bg-[#f2f2f2] rounded-[4px] pl-4"
          placeholder="correo electronico">
      <input type="password" name="password" class="w-full h-[56px] bg-[#f2f2f2] rounded-[4px] pl-4" placeholder="password">
    </div>

      <div class="flex flex-col items-center justify-center gap-3 text-white">
          <p class="py-6  w-[400px]">
              <button class=" bg-[#f18f01] w-full h-[56px] rounded-[12px]">Iniciar Session</button>
          </p>
          <p class="text-black">
              ¿Aún no tienes cuenta? <a class="text-blue-800 underline underline-offset-1" routerLink="/register">Registrate</a>
          </p>
      </div>

  </div>
</div>

