<div class="relative py-5 md:py-14 lg:mt-14 bg-secondary">
  <div class="absolute flex justify-center bg-secondary left-[50%] translate-x-[-50%] rounded-full w-20 sm:top-[-2rem] sm:w-28 lg:w-40 top-[-1.4rem] lg:top-[-3.5rem] bottom aspect-square">
    <fa-icon class="pt-1 text-white sm:text-2xl lg:text-4xl lg:pt-3 xl:pt-5" [icon]="faAngleDown"></fa-icon>
  </div>
  <div class="container relative z-10 flex flex-col gap-5 px-5 mx-auto text-center text-white md:gap-10">
    <div class="flex flex-col md:gap-5">
      <p class="text-2xl font-bold font-primary md:text-4xl">Trabajá con nosotros</p>
      <p class="text-[10px] sm:text-xl md:text-2xl font-semibold font-primary">Nos caracteriza la flexibilidad, y brindar soluciones digitales.</p>
    </div>
    <div class="grid grid-cols-3 sm:gap-y-10 gap-2 text-[10px] sm:text-base md:text-2xl font-bold text-left">

      
      <div class="flex items-center justify-center gap-2 sm:justify-start">
        <div class="flex items-center w-1/6">
          <img class="aspect-square" src="../../../../../assets/img/Emojis/Trabajo en equipo.png" alt="">
        </div>
        <div class="flex flex-col sm:w-5/6 md:gap-2">
          <p class="font-primary">Trabajo en equipo</p>
          <p class="hidden text-sm font-normal sm:block md:text-xl">Trabajo y esfuerzo para crear soluciones creativas en base a los objetivos.</p>
        </div>
      </div>


      <div class="flex items-center justify-center gap-2 sm:justify-start">
        <div class="flex items-center w-1/6">
          <img class="aspect-square" src="../../../../../assets/img/Emojis/Confiables.png" alt="">
        </div>
        <div class="flex flex-col sm:w-5/6 md:gap-2">
          <p class="font-primary">Confiables</p>
          <p class="hidden text-sm font-normal sm:block md:text-xl">Muestra constante de honestidad y comunicación transparente.</p>
        </div>
      </div>

      <div class="flex items-center justify-center gap-2 sm:justify-start">
        <div class="flex items-center w-1/6">
          <img class="aspect-square" src="../../../../../assets/img/Emojis/Crecimiento.png" alt="">
        </div>
        <div class="flex flex-col sm:w-5/6 md:gap-2">
          <p class="font-primary">Crecimiento</p>
          <p class="hidden text-sm font-normal sm:block md:text-xl">Construir relaciones con las comunidades locales de migrantes.</p>
        </div>
      </div>
      <div class="flex items-center justify-center gap-2 sm:justify-start">
        <div class="flex items-center w-1/6">
          <img class="aspect-square" src="../../../../../assets/img/Emojis/Apasionados.png" alt="">
        </div>
        <div class="flex flex-col sm:w-5/6 md:gap-2">
          <p class="font-primary">Apasionados</p>
          <p class="hidden text-sm font-normal sm:block md:text-xl">Intensa devoción y entusiasmo hacia actividades profesionales.</p>
        </div>
      </div>
      <div class="flex items-center justify-center gap-2 sm:justify-start">
        <div class="flex items-center w-1/6">
          <img class="aspect-square" src="../../../../../assets/img/Emojis/Escucha Activa.png" alt="">
        </div>
        <div class="flex flex-col sm:w-5/6 md:gap-2">
          <p class="font-primary">Escucha activa</p>
          <p class="hidden text-sm font-normal sm:block md:text-xl">Escucha comprometida y atenta con empatía y retroalimentación.</p>
        </div>
      </div>
      <div class="flex items-center justify-center gap-2 sm:justify-start">
        <div class="flex items-center w-1/6">
          <img class="aspect-square" src="../../../../../assets/img/Emojis/Compromiso.png" alt="">
        </div>
        <div class="flex flex-col sm:w-5/6 md:gap-2">
          <p class="font-primary">Compromiso</p>
          <p class="hidden text-sm font-normal sm:block md:text-xl">Aprender de los demás y colaborar con ellos.</p>
        </div>
      </div>
    </div>
  </div>
</div>