<div class="bg-secondary">
  <div class="container grid grid-cols-1 px-5 mx-auto py-9 md:py-24 gap-9 lg:grid-cols-2">
    <div class="hidden overflow-hidden lg:flex bg-img rounded-3xl">
    </div>
    <div class="flex flex-col order-2 gap-5 md:gap-12">
      <div class="flex flex-col gap-5 text-left xl:w-4/5">
        <h2 class="text-xl font-bold text-white md:text-4xl font-primary">¿Quienes somos?</h2>
        <p class="text-white md:text-xl">Somos una plataforma digital que permite a los migrantes que lleguen a la
          Argentina <span class="font-bold">adaptarse rápidamente</span> y poder
          <span class="font-bold">encontrar lo que necesite para sustentarse</span> mientras se acomoda a su nuevo país.
        </p>
      </div>
      <div class="grid grid-cols-3 gap-3 md:gap-6">
        <div class="flex flex-col items-center justify-center gap-2 p-1 py-2 bg-white md:items-start sm:gap-4 sm:p-4 rounded-2xl">
          <div class="flex items-center justify-center w-8 p-0 m-0 text-xl text-white rounded-full sm:w-12 bg-accent aspect-square">
            <fa-icon [icon]="faSquareCheck"></fa-icon>
          </div>
          <div class="text-center md:text-left">
            <p class="text-sm font-semibold">Información verídica</p>
            <p class="hidden text-sm md:block">Trámites, hospitales, emergencias, derechos, entre otros.</p>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center gap-2 p-1 py-2 bg-white md:items-start sm:gap-4 sm:p-4 rounded-2xl">
          <div class="flex items-center justify-center w-8 p-0 m-0 text-xl text-white rounded-full sm:w-12 bg-accent aspect-square">
            <fa-icon [icon]="faHouseChimney"></fa-icon>
          </div>
          <div class="text-center md:text-left">
            <p class="text-sm font-semibold">Alojamiento</p>
            <p class="hidden text-sm md:block">Encontrar hostels o hogares dónde vivir o quedarse.</p>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center gap-2 p-1 py-2 bg-white md:items-start sm:gap-4 sm:p-4 rounded-2xl">
          <div class="flex items-center justify-center w-8 p-0 m-0 text-xl text-white rounded-full sm:w-12 bg-accent aspect-square">
            <fa-icon [icon]="faHandHoldingHeart"></fa-icon>
          </div>
          <div class="text-center md:text-left">
            <p class="text-sm font-semibold">Apoyo</p>
            <p class="hidden text-sm md:block">Hacerles sentir que no están solos en su nuevo país.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>