<div class="bg-secondary">
  <div class="container grid grid-cols-1 px-5 py-24 mx-auto gap-9 lg:grid-cols-2">
    <div class="hidden overflow-hidden lg:flex bg-img rounded-3xl">
    </div>
    <div class="flex flex-col order-2 gap-12">
      <div class="flex flex-col gap-5 text-center xl:w-4/5 sm:text-left">
        <h2 class="text-4xl font-bold text-white font-primary">¿Quienes somos?</h2>
        <p class="text-xl text-white">Somos una plataforma digital que permite a los migrantes que lleguen a la
          Argentina <span class="font-bold">adaptarse rápidamente</span> y poder
          <span class="font-bold">encontrar lo que necesite para sustentarse</span> mientras se acomoda a su nuevo país.
        </p>
      </div>
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 xl:grid-cols-3">
        <div class="flex flex-col gap-4 p-4 bg-white rounded-2xl">
          <div class="flex items-center justify-center w-12 p-0 m-0 text-xl text-white rounded-full bg-accent aspect-square">
            <fa-icon [icon]="faSquareCheck"></fa-icon>
          </div>
          <div>
            <p class="font-semibold">Información verídica</p>
            <p class="text-sm">Trámites, hospitales, emergencias, derechos, entre otros.</p>
          </div>
        </div>
        <div class="flex flex-col gap-4 p-4 bg-white rounded-2xl">
          <div class="flex items-center justify-center w-12 p-0 m-0 text-xl text-white rounded-full bg-accent aspect-square">
            <fa-icon [icon]="faHouseChimney"></fa-icon>
          </div>
          <div>
            <p class="font-semibold">Alojamiento</p>
            <p class="text-sm">Encontrar hostels o hogares dónde vivir o quedarse.</p>
          </div>
        </div>
        <div class="flex flex-col gap-4 p-4 bg-white rounded-2xl">
          <div class="flex items-center justify-center w-12 p-0 m-0 text-xl text-white rounded-full bg-accent aspect-square">
            <fa-icon [icon]="faHandHoldingHeart"></fa-icon>
          </div>
          <div>
            <p class="font-semibold">Acompañamiento</p>
            <p class="text-sm">Hacerles sentir que no están solos en su nuevo país.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>