<div class="bg-secondary">
  <div class="container grid grid-cols-1 px-5 py-24 mx-auto gap-9 lg:grid-cols-2">
    <div class="order-1 m-auto">
      <img class="" src="" alt="">
    </div>
    <div class="flex flex-col order-2 gap-12">
      <div class="flex flex-col gap-5 text-center xl:w-4/5 sm:text-left">
        <h2 class="text-4xl font-bold text-white">¿Quienes somos?</h2>
        <p class="text-xl text-white">Somos una plataforma digital que permite a los migrantes que lleguen a la
          Argentina <span class="font-bold">adaptarse rápidamente</span> y poder
          <span class="font-bold">encontrar lo que necesite para sustentarse</span> mientras se acomoda a su nuevo país.
        </p>
      </div>
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 xl:grid-cols-3">
        <div class="flex flex-col gap-4 p-4 bg-gray-300 rounded-2xl">
          <div class="w-12 bg-gray-400 rounded-full aspect-square"></div>
          <div>
            <p class="font-semibold">Información verídica</p>
            <p class="text-sm">Trámites, hospitales, emergencias, derechos, entre otros.</p>
          </div>
        </div>
        <div class="flex flex-col gap-4 p-4 bg-gray-300 rounded-2xl">
          <div class="w-12 bg-gray-400 rounded-full aspect-square"></div>
          <div>
            <p class="font-semibold">Alojamiento</p>
            <p class="text-sm">Encontrar hostels o hogares dónde vivir o quedarse.</p>
          </div>
        </div>
        <div class="flex flex-col gap-4 p-4 bg-gray-300 rounded-2xl">
          <div class="w-12 bg-gray-400 rounded-full aspect-square"></div>
          <div>
            <p class="font-semibold">Acompañamiento</p>
            <p class="text-sm">Hacerles sentir que no están solos en su nuevo país.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>