.bg-jobs {
  background-image: url('./../../../assets/img/bg-jobs.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.active {
  border-bottom: 4px solid #59D3C6;
}
