<div class="container px-5 mx-auto mb-5">
  
  <div class="flex flex-col items-center gap-3 p-6 lg:p-12 rounded-2xl sm:flex-row bg-dark">
  
    <!-- logo -->
    <div class="flex justify-center w-1/2 sm:w-1/4 md:w-2/6 lg:w-5/12">
      <img class="w-full h-full lg:w-2/3 aspect-auto" src="../../../../../assets/img/nocountry.png" alt="">
    </div>

    <div class="h-[2px] w-2/6 sm:h-1/2 sm:w-[2px] bg-gray-300">
    </div>
  
    <!-- info -->
    <div class="flex flex-col gap-3 text-sm text-white lg:text-xl sm:text-base md:w-4/6 sm:w-3/4 lg:w-6/12">

      <p>
        No Country es una emulación de trabajo para acelerar el seniority y acercarte a tu primer oportunidad laboral donde vas a entrenar tus habilidades técnicas y blandas junto a un equipo multidisciplinario de talento IT. 👩‍💻 👨‍💻
      </p>
      <p class="font-bold">
        Su misión es ser el puente entre el nuevo talento y las empresas.
      </p>

    </div>
  
  
  </div>
</div>