/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  /* outline: 1px solid red; */
}

html,body,app-login,app-register,app-landing, app-jobs {
  height: 100%;
}

.font-primary {
  font-family: 'Be Vietnam Pro', sans-serif;
}

*:focus {
  outline: none;
}

.font-secondary {
  font-family: 'Inter', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-mdc-dialog-container .mdc-dialog__surface {
  background: none !important;
  padding: 0 !important;
  box-shadow: none !important;
}

.mdc-dialog__actions {
  padding: 0 24px 24px 24px !important;
}

.cdk-overlay-pane {
  max-width: 90vw !important;
}
