<div class="cards">
    <div class="container flex md:flex-row md:items-start mx-auto flex-col-reverse py-5 items-center ">
        <div class="card flex flex-col">
            <!-- card1 -->
            <div class="container flex flex-col mx-auto px-5 py-10 border-2 rounded-md gap-7">
                <div class="flex items-center gap-5">
                    <picture>
                        <img src="../../../assets/img/face-profile.png" alt="" class="w-[4rem] h-[4rem] ">
                    </picture>
                    <h3>{{forums.titulo}}</h3>
                </div>

                <div class=" flex flex-col gap-10">
                    <h2>{{forums.saludo}}</h2>
                    <h3>{{forums.descripcion}}
                    </h3>
                </div>
                <div class=" flex justify-start gap-2">
                    <button
                        class=" text-primary rounded-full border p-2 border-primary"><fa-icon
                            class="p-3" [icon]="faHeart"></fa-icon>
                    </button>
                    <button
                        class=" text-white rounded-full border p-2 gap-1 border-primary bg-primary">
                        <p><fa-icon class="mr-2" [icon]="faMessage"></fa-icon> {{forums.meGusta}}</p>
                    </button>
                    <div class="flex justify-end">
                        <button class=" text-secondary rounded-full border p-2 border-primary">#Migracion
                        </button>
                    </div>
                </div>
            </div>
        </div>     
    </div>
</div>