
<div class="flex flex-col justify-items-center h-64 bg-secondary text-white">
  <div class="flex justify-center py-10">
    <p class="rounded-3xl text-2xl py-2 font-bold text-white">Nómadas</p>
  </div>
  <div class="flex justify-center space-x-6 pb-4 text-2xl">
    <a href="/">Sobre nosotros</a>
    <span>|</span>
    <span class="cursor-pointer" routerLink="/frequents">Preguntas Frecuentes</span>
    <span>|</span>
    <span class="cursor-pointer" routerLink="/data-protection">Protección de datos</span>
    <span>|</span>
    <span class="cursor-pointer" routerLink="/terms">Términos y condiciones</span>
  </div>
  <div class="flex flex-col justify-items-center">
    <p class="flex justify-center text-lg">Hecho con <fa-icon class="px-2 text-primary" [icon]="faHeart"></fa-icon> Nómadas, buscando un futuro mejor</p>
    <p class="flex justify-center">&copy; 2023 · Nómadas</p>
  </div>
</div>
