<div class="flex flex-col justify-items-center h-80 bg-[#373737] text-white">
  <div class="flex justify-center py-10">
    <button class="bg-[#4046C8] w-56 rounded-3xl text-2xl py-2 font-bold">Nómadas</button>
  </div>
  <div class="flex justify-center space-x-6 pb-4 text-2xl">
    <a href="/">Sobre nosotros</a>
    <span>|</span>
    <a href="/">Preguntas Frecuentes</a>
    <span>|</span>
    <a href="/">Protección de datos</a>
    <span>|</span>
    <a href="/">Términos y condiciones</a>
  </div>
  <div class="flex flex-col justify-items-center pb-2">
    <p class="flex justify-center text-lg">Hecho con <fa-icon class="px-2 text-[#4046C8]" [icon]="faHeart"></fa-icon> Nómadas, buscando un futuro mejor</p>
    <p class="flex justify-center">&copy; 2023 · Nómadas</p>
  </div>
</div>
